@import "../design-tokens/scss-variables.scss";
.product-low-price {
  p {
    color: $gopakGreen;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
.product-option {
  margin-bottom: 10px;
  h4 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: $textColour;
  }
  select {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #f1f1f1;
    border-radius: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    height: 32px;
    line-height: 1.4rem;
    padding: 5px 10px 4px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
  }
}